@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model G4_Guidance.Models.User_Data;
@{
    ViewData["Title"] = "Login";
}
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form asp-action="login" method="post">
                        <h1 class="card-header text-center">Login</h1>
                        <div class="card-body">
                            <div class="form-floating mb-3">
                                <input asp-for="username" id="user" class="form-control" type="text" placeholder="Joe Doe">
                                <label asp-for="username">Username</label>
                                <p style="color:red;">@Html.ValidationMessage("username")</p>
                            </div>

                            <div class="form-floating mb-3">
                                <input asp-for="password" type="password" class="form-control" placeholder="Enter Password">
                                <label asp-for="password">Password</label>
                                <p style="color:red;">@Html.ValidationMessage("password")</p>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
